li:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}
h1 {
    padding-left: 20px;
}
.center {
    margin-left: 40%;
    width: 20%;
    border: 3px solid green;
    padding: 20px;
    
  }
