h3 {
    padding-left: 40px;
    
}
img {
    background-image: url("images/mta.jpg");
    
    height: 200px;
    width: 1400px;
}

p {
    

    
     font-size: 20px; 
     text-align: right;
}

.pirveli {
    Display:flex;
    
}

