
div a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #550a21;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 88px;
  display: none;
}
ul li ul li { 
  background: #323a4f; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background:#550a21}
#manqanebi{
    background-image: url("3car.jpg");

    width: 1333px;
    height:303px;
    background-attachment: fixed;
}
#drag{
    
    margin-top: 4.7%;
    margin-left: 42%;

}

    
    #list{
    background-color:#323a4f;
    width: 170px;
    height: 100%;
    text-align: left;
}
.flex-container {
    display: flex;
    height: 600px;
}
.flex-container > div{
    display: flex;
    margin: 0px;
    padding: 5px;
    font-size: 18px;
    background-color:#550a21;
    height: 100%;

}
#buton{
    background-color: #7a5e86;
  border: none;
  color: white;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}