h1{
    margin-left: 40%;
    color:red
}
body{
    background-image: galaxy.jpg
}
#calculator{
    position: absolute;
 top: 30%;
 left: 10%;
 transform: translate(-50%, -50%);
 width: 200px;
 height: 60px;
 text-align: center;
 line-height: 60px;
 color: #fff;
 font-size: 24px;
 text-transform: uppercase;
 text-decoration: none;
 font-family: sans-serif;
 box-sizing: border-box;
 background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
 background-size: 400%;
 border-radius: 30px;
 z-index: 1;
}
#calculator:hover
{
 animation: animate 5s linear infinite;
}
@keyframes animate
{
 0%
 {
  background-position: 0%;
 }
 100%
 {
  background-position: 400%;
 }
}
#calculator:before
{
 content: '';
 position: absolute;
 top: -5px;
 left: -5px;
 right: -5px;
 bottom: -5px;
 z-index: -1;
 background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
 background-size: 400%;
 border-radius: 40px;
 opacity: 0;
 transition: 0.5s;

 
}
#calculator:hover:before
{
 
 filter: blur(20px);
 opacity:1;
 animation: animate 5s linear infinite;
}
#button{
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03f403, #0026ff, #bbff00, #03f4e8);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;   
}
#button:hover
{
 animation: animate 5s linear infinite;
}
@keyframes animate
{
 0%
 {
  background-position: 0%;
 }
 100%
 {
  background-position: 400%;
 }
}
#button:before
{
 content: '';
 position: absolute;
 top: -5px;
 left: -5px;
 right: -5px;
 bottom: -5px;
 z-index: -1;
 background: linear-gradient(90deg, #03f403, #1900ff, #bbff00, #03f4e8);
 background-size: 400%;
 border-radius: 40px;
 opacity: 0;
 transition: 0.5s;

 
}
#button:hover:before
{
 
 filter: blur(20px);
 opacity:1;
 animation: animate 5s linear infinite;
}
#syte{
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #f40303, #33ff00);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;   
}
#syte:hover
{
 animation: animate 5s linear infinite;
}
@keyframes animate
{
 0%
 {
  background-position: 0%;
 }
 100%
 {
  background-position: 400%;
 }
}
#syte:before
{
 content: '';
 position: absolute;
 top: -5px;
 left: -5px;
 right: -5px;
 bottom: -5px;
 z-index: -1;
 background: linear-gradient(90deg, #f40303, #00ff22);
 background-size: 400%;
 border-radius: 40px;
 opacity: 0;
 transition: 0.5s;

 
}
#syte:hover:before
{
 
 filter: blur(20px);
 opacity:1;
 animation: animate 5s linear infinite;
}
#davaleba{
    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #f40303, #33ff00);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;   
}
#davaleba:hover
{
 animation: animate 5s linear infinite;
}
@keyframes animate
{
 0%
 {
  background-position: 0%;
 }
 100%
 {
  background-position: 400%;
 }
}
#davaleba:before
{
 content: '';
 position: absolute;
 top: -5px;
 left: -5px;
 right: -5px;
 bottom: -5px;
 z-index: -1;
 background: linear-gradient(90deg, #f40303, #00ff22);
 background-size: 400%;
 border-radius: 40px;
 opacity: 0;
 transition: 0.5s;

 
}
#davaleba:hover:before
{
 
 filter: blur(20px);
 opacity:1;
 animation: animate 5s linear infinite;
}
 
