h1{
    color: brown;
    background-color: aquamarine
}
h2{
    color: brown ;
    background-color: blueviolet
}
h3{
    color: blueviolet;
    background-color: aqua
     

}
#saxeli{
    color: bisque;
    background-color: aqua

}